footer.footer
  .footer__container
    .footer__brand-block.font-s-16
      .font-w-semi-bold «BLACKCROW»
      .font-w-light Франшиза табачного магазина, 2024 г.
    img.footer__logo(src="images/logo-footer.png" loading="lazy" width="222" height="203" alt="logo")
    a.footer__privacy.font-s-15(href="#" data-remodal-target="privacy").agree-privacy Политика конфиденциальности
    .footer__connection
      a(href="tel:+79990000000")
        img.footer__connection-icon(src="images/connection-icon.svg" loading="lazy" width="16" height="16" alt="icon")
      include ../components/phone-number.pug
    //- .header__call-me.btn.btn--call-me(data-remodal-target="modal-form-call-me") Обратный звонок

