header.header
  .header__container
    .header__brand-block.font-s-16
      .font-w-semi-bold «BLACKCROW»
      .font-w-light Франшиза табачного магазина
    img.header__logo(src="images/logo-header.png" loading="lazy" width="198" height="181" alt="logo")
    .header__connection
      a(href="tel:+79990000000")
        img.header__connection-icon(src="images/connection-icon.svg" loading="lazy" width="16" height="16" alt="icon")
      include ../components/phone-number.pug
    //- .header__call-me.btn.btn--call-me(data-remodal-target="modal-form-call-me") Обратный звонок
