section.reasons-section
  .wrapper
    .reasons-section__container
      h2.reasons-section__title.font-w-bnp-bold.font-s-60.text-up
        span.color-violet Начните свой прибыльный бизнес 
        br
        span.reasons-section__title-padding в тандеме с профессионалами
      .reasons-section__sub-title.font-w-light.font-s-20
        | 5 причин открыть магазин 
        br.no-br
        | по нашей франшизе
      .swiper-bullet
        .reasons-section__cards.swiper-wrapper
          .reasons-section__card.swiper-slide
            .reasons-section__card-title.font-w-bnp-regular.font-s-36.text-up
              | Высокая 
              br.no-br
              | актуальность:
            .font-s-18
              | спрос на табачную и никотиносодержащую продукцию 
              span.font-w-medium всегда 
              br.no-br
              span.font-w-medium остается стабильно высоким, 
              | рынок активно развивается и дарит 
              br.no-br
              | все больше новых возможностей для ведения бизнеса
          .reasons-section__card.swiper-slide
            .reasons-section__card-title.font-w-bnp-regular.font-s-36.text-up
              | Готовая 
              br.no-br
              | концепция:
            .font-s-18
              | с нами вы откроете магазин, востребованный среди клиентов, 
              br.no-br
              span.font-w-medium благодаря тщательно подобранному ассортименту 
              | и уникальной 
              br.no-br
              | атмосфере, которая выделяет нас среди конкурентов
          .reasons-section__card.swiper-slide
            .reasons-section__card-title.font-w-bnp-regular.font-s-36.text-up
              | Поставка 
              br.no-br
              | товаров:
            .font-s-18
              | мы организуем поставки товаров на вашу точку напрямую из 
              br.no-br
              | Головной компании, что 
              span.font-w-medium позволит вам всегда быть уверенным 
              br.no-br
              span.font-w-medium в качестве продукции 
              | и знать о всех новинках рынка
          .reasons-section__card.swiper-slide
            .reasons-section__card-title.font-w-bnp-regular.font-s-36.text-up
              | Опытные 
              br.no-br
              | партнеры:
            .font-s-18
              | мы ведем работу бизнеса уже с 2022 года и точно знаем, 
              br.no-br
              | как 
              span.font-w-medium  легко и эффективно запустить все процессы магазина 
              br.no-br
              | и быстро привлечь ваших первых покупателей
          .reasons-section__card.swiper-slide
            .reasons-section__card-title.font-w-bnp-regular.font-s-36.text-up
              | Масштабируемость:
            .font-s-18
              | по нашей франшизе вы 
              span.font-w-medium сможете запустить 
              br.no-br
              span.font-w-medium неограниченное количество точек 
              | и легко развить бизнес 
              br.no-br
              | до собственной прибыльной сети
        .bullet-pagination
      .reasons-section__bottom
        .font-w-bn-bold.font-s-40.text-up
          | Задайте любой 
          br.no-br
          | вопрос 
          span.font-w-bn-book о работе 
          br.no-br
          span.font-w-bn-book бизнеса
        form.reasons-section__form(data-feedback-form)
          input(type="text" name="honeyfield" class="honeypot" style="display:none")
          input.input(type="text" name="answer" autocomplete="off" placeholder="Текст вопроса")
          input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn(type="submit") Задать вопрос
