section.start-section
  .wrapper
    .start-section__container
      h2.start-section__title.font-w-bnp-bold.font-s-60.text-up
        span.color-violet Как мы поможем 
        br.no-br
        | вам на старте?
      .swiper-bullet
        .start-section__cards.swiper-wrapper
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="18" height="18" alt="image")
            .font-s-18
              | Проведем для вас 
              br
              span.font-w-regular
                | дистанционное 
                br.no-br
                | обучение
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="18" height="18" alt="image")
            .font-s-18
              | Поможем выбрать 
              br
              span.font-w-regular
                | и правильно 
                br.no-br
                | оборудовать помещение
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="18" height="18" alt="image")
            .font-s-18
              | Поможем собрать 
              br
              span.font-w-regular
                | сильную команду 
                br.no-br
                | специалистов
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="18" height="18" alt="image")
            .font-s-18
              | Поделимся рабочими 
              br
              span.font-w-regular
                | маркетинговыми 
                br.no-br
                | инструментами
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="18" height="18" alt="image")
            .font-s-18
              | Поделимся своими 
              br
              span.font-w-regular
                | методами работы 
                br.no-br
                | с клиентами
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="18" height="18" alt="image")
            .font-s-18
              | Предоставим 
              br
              span.font-w-regular
                | фирменные 
                br.no-br
                | рекламные материалы
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="18" height="18" alt="image")
            .font-s-18
              | Передадим готовый 
              br
              span.font-w-regular
                | перечень 
                br.no-br
                | ассортимента услуг
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="18" height="18" alt="image")
            .font-s-18
              | Дадим рекомендации 
              br
              span.font-w-regular
                | по торжественному 
                br.no-br
                | открытию точки
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="18" height="18" alt="image")
            .font-s-18
              | Организуем поставки 
              br
              span.font-w-regular
                | товара из Головной 
                br.no-br
                | компании
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="18" height="18" alt="image")
            .font-s-18
              | Добавим в закрытое 
              br
              span.font-w-regular
                | сообщество 
                br.no-br
                | сети франшизы
        .bullet-pagination
      .start-section__bottom
        .font-w-bn-bold.font-s-40.text-up
          | Скачайте договор, в котором описаны 
          br
          span.font-w-bn-book
            | наши обязанности и все условия 
            br.no-br
            | сотрудничества
        button.btn.start-section__btn(data-remodal-target="modal-form-agreement") Скачать
      img.start-section__img(src="images/start-section-img.png" loading="lazy" width="1097" height="1396" alt="image")
