section.steps-section
  .wrapper
    .steps-section__container
      h2.steps-section__title.font-w-bnp-bold.font-s-60.text-up
        span.color-violet Как мы будем открывать
        br
        span.steps-section__title-padding ваш табачный магазин?
      .steps-section__sub-title.font-w-light.font-s-20
        | 8 простых шагов до старта
      .swiper-bullet
        .steps-section__cards.swiper-wrapper
          .steps-section__card.swiper-slide
            .steps-section__card-title.font-w-bn-regular.font-s-40.text-up шаг 01
            .font-s-18
              | Проведем для вас 
              br
              | дистанционное обучение
          .steps-section__card.swiper-slide
            .steps-section__card-title.font-w-bn-regular.font-s-40.text-up шаг 02
            .font-s-18
              | Создание и согласование 
              br
              | дизайн-проекта
          .steps-section__card.swiper-slide
            .steps-section__card-title.font-w-bn-regular.font-s-40.text-up шаг 03
            .font-s-18
              | Аренда помещения 
              br
              | и ремонт
          .steps-section__card.swiper-slide
            .steps-section__card-title.font-w-bn-regular.font-s-40.text-up шаг 04
            .font-s-18
              | Формирование 
              br
              | первых запасов товара
          .steps-section__card.swiper-slide
            .steps-section__card-title.font-w-bn-regular.font-s-40.text-up шаг 05
            .font-s-18
              | Доставка и монтаж 
              br
              | оборудования и мебели
          .steps-section__card.swiper-slide
            .steps-section__card-title.font-w-bn-regular.font-s-40.text-up шаг 06
            .font-s-18
              | Поиск и обучение 
              br
              | персонала
          .steps-section__card.swiper-slide
            .steps-section__card-title.font-w-bn-regular.font-s-40.text-up шаг 07
            .font-s-18
              | Реклама
          .steps-section__card.swiper-slide
            .steps-section__card-title.font-w-bn-regular.font-s-40.text-up шаг 08
            .font-s-18
              | Открытие точки, 
              br
              | старт работы
        .bullet-pagination
      .steps-section__bottom
        .steps-section__bottom-text
          .font-w-bn-bold.font-s-40
            | Узнайте больше, о деталях 
            br
            span.font-w-bn-book совместной работы на каждом этапе
          .font-w-light.font-s-20 Запишитесь на бесплатную консультацию
        form.steps-section__form(data-feedback-form)
          input(type="text" name="honeyfield" class="honeypot" style="display:none")
          input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          input.input(type="text" name="email" autocomplete="off" placeholder="E-mail")
          button.btn(type="submit") Записаться
